
/*-------------------------------------------------------------------------*/
/*Initialisation de ma page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #005F99;
    --secondary-color: #4FB0E3;
    --published-bg: #D4F8E8;
    --success-color: #2ECC71;
    --error-color: #E74C3C;
    --off-white-text: #F0F2F5;
    --text-color: #2C3E50;
    --background-color: #F8F9FA;
    --card-background: #ECEFF1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*-------------------------------------------------------------------------*/
/*Header*/
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--card-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4.5rem;
    transition: .3s ease;
}

.navbar a:hover, .navbar a.active{
    color: var(--secondary-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.login-btn-modal{
    margin-left: 4.5rem;
    height: 4rem;
    padding: 0 2rem;
    background-color: var(--primary-color);
    border-radius: 4rem;
    font-size: 1.7rem;
    color: var(--off-white-text);
    cursor: pointer;
    transition: .3s;
}

.login-btn-modal:hover{
    background-color: var(--text-color);
    color: var(--off-white-text);
}

.profile-box .avatar-circle{
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--background-color);
    border-radius: 50%;
    line-height: 5.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.profile-box .dropdown{
    position: absolute;
    top: 9rem;
    right: 3rem;
    padding: 1.5rem 2rem;
    margin-right: 2rem;
    background-color: var(--background-color);
    border-radius: .9rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    transform: translateY(3.2rem);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 2500;
}

.profile-box.show .dropdown{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.profile-box .dropdown a{
    padding: 1rem 2rem ;
    border-radius: .6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: .5rem 0;
    font-size: 1.4rem;
    transition: .2s ease;
}

.profile-box.show .dropdown a:hover{
    color: var(--secondary-color);
    background-color: var(--card-background);
}

.profile-box .dropdown a i{
    margin-right: 1rem;
}

/*-------------------------------------------------------------------------*/
/*Alert*/
.alert-box{
    position: fixed;
    inset: 0;
    top: 4.6rem;
    margin: 0 auto;
    width: 56rem;
    height: 6rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border-radius: .9rem;
    padding: 0 2rem;
    z-index: 9999;
    overflow: hidden;
    transform: translateY(calc(-100% - 5.6rem));
    transition: .5s ease;
}

.alert-box.show{
    transform: translateY(0);
}

.alert{
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    font-weight: 500;
}

.alert::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background-color: var(--success-color);
    animation: progressBar 3s linear forwards;
}

.alert.error::after{
    background-color: var(--error-color);
}

@keyframes progressBar {
    100%{
        width: 0;
    }
}

.alert i{
    font-size: 3.5rem;
    color: var(--success-color);
    margin-right: 1rem;
    background-color: var(--card-background);
    border-radius: 50%;
}

.alert p{
    font-size: 1.5rem;
}

.alert.error i{
    color: var(--error-color);
}

/*-------------------------------------------------------------------------*/
/*Authentification*/
.auth-modal {
    position: relative;
    z-index: 5000;
    width: 42rem;
    height: 43rem;
    background-color: var(--card-background);
    border-radius: 2rem;
    border: 0.5rem solid var(--card-background);
    color: var(--text-color);
    inset: 0;
    overflow: hidden;
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    transform: scale(0);
    transition: height 0.2s ease, transform 0.5s ease;
}

.auth-modal.show {
    display: flex;
    transform: scale(1);
}

.auth-modal.slide {
    height: 65rem;
}

.auth-modal .form-box {
    width: 100%;
    padding: 4rem;
}

.auth-modal .form-box.login,
.auth-modal.slide .form-box.register {
    transform: translateX(0);
    transition: transform 0.18s ease;
}

.auth-modal.slide .form-box.login,
.auth-modal .form-box.register {
    transform: translateX(-60rem);
    transition: none;
}

.auth-modal .form-box.register {
    position: absolute;
    transform: translateX(60rem);
}

.form-box h2 {
    font-size: 3.5rem;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 3rem 0;
}

.input-box input, select {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border: 0.2rem solid var(--card-background);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 4.5rem  0 2rem;
}

.input-box input::placeholder {
    color: var(--text-color);
}

.input-box i {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.btn {
    width: 100%;
    height: 4.5rem;
    color: var(--text-color);
    border-radius: 4rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.form-box p {
    font-size: 1.45rem;
    text-align: center;
    margin: 2.5rem 0 1rem;
}

.form-box p a {
    color: var(--text-color);
    font-weight: 600;
    transition: 0.3s ease;
}

.form-box p a:hover {
    color: var(--secondary-color);
}

.auth-modal .close-btn-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--background-color);
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 500;
    border-bottom-left-radius: 2rem;
}

/*-------------------------------------------------------------------------*/
/*Modifier profil*/
.edit-profil h2{
    font-size: 4.5rem;
    margin-bottom: 9rem;
    text-align: center;
}

.edit-profil form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.edit-profil form .edit-profil-input-box{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column; 
    flex-wrap: wrap;
}

.edit-profil form .edit-profil-input-box label{
    text-align: left;
    font-size: 2rem;
}

.edit-profil form .edit-profil-input-box input, .edit-profil form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--card-background);
    border-radius: .8rem;
    margin: .7rem 0;
}

.edit-profil form textarea{
    resize: none;
}

.edit-profil form .edit-profil-btn{
    margin-top: 2rem ;
    width: 100%;
    height: 4.5rem;
    background-color: var(--primary-color);
    color: var(--off-white-text);
    border-radius: 4rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

.edit-profil form .edit-profil-btn:hover{
    background-color: var(--text-color);
}

.edit-profil .edit-profil-input-box select{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border: 0.2rem solid var(--card-background);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 1rem 4.5rem  1rem 2rem;
    border-radius: .8rem;
}

/*-------------------------------------------------------------------------*/
/*Voir profil*/
.profil-info h2{
    padding-left: 3rem;
    font-size: 4.5rem;
    margin-bottom: 5rem;
    text-align: left;
}

.profil-info .profil-info-container{
    width: 70%;
    border: .1rem solid var(--card-background);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
    border-radius: .8rem;
    padding: 3rem;
    margin-bottom: 3rem;
} 

.profil-info .profil-info-container .profil-info-box .avatar-circle{
    width: 6.5rem;
    height: 6.5rem;
    flex-shrink: 0;
    background-color: var(--text-color);
    border-radius: 50%;
    line-height: 6.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--off-white-text);
    font-weight: 600;
    cursor: pointer;
}

.profil-info .profil-info-container .profil-info-box.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem
}

.profil-info .profil-info-container .profil-info-box h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.profil-info .profil-info-container .profil-info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.profil-info .profil-info-container .profil-info-box i{
    font-size: 2.5rem;
    color: var(--text-color);
    border-radius: 50%; 
}

.profil-info .profil-info-container .profil-info-box p{
    font-size: 2rem;
    color: var(--text-color);
}

.profil-info .profil-info-container .profil-info-box.last{
    margin-bottom: 4rem;
}

.profil-info .profil-info-container .profil-info-box a{
    font-size: 2rem;
    color: var(--text-color);
    transition: .3s ease;
}

.profil-info .profil-info-container .profil-info-box a:hover{
    color: var(--primary-color);
}

.profil-info .profil-info-container .edit-prpfil-btn{
    padding: .8rem 1.3rem;
    height: 4.5rem;
    background-color: var(--primary-color);
    color: var(--off-white-text);
    border-radius: 4rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

.profil-info .profil-info-container .edit-prpfil-btn:hover{
    background-color: var(--text-color);
}

/*-------------------------------------------------------------------------*/
/*Modifier profil*/
.add-offer h2{
    font-size: 4.5rem;
    margin-bottom: 9rem;
    text-align: center;
}

.add-offer form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.add-offer form .add-offer-input-box{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column; 
    flex-wrap: wrap;
} 

.add-offer form .add-offer-input-box label{
    font-size: 2rem;
    text-align: left;
}

.add-offer form .add-offer-input-box input, .add-offer form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--card-background);
    border-radius: .8rem;
    margin: .7rem 0; 
}

.add-offer form textarea{
    resize: none;
}

.add-offer form .add-offer-btn{
    margin-top: 2rem 0;
    width: 100%;
    height: 4.5rem;
    background-color: var(--primary-color);
    color: var(--off-white-text);
    border-radius: 4rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

.add-offer form .add-offer-btn:hover{
    background-color: var(--text-color);
}

.add-offer form .add-offer-input-box select{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border: 0.2rem solid var(--card-background);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 1rem 4.5rem  1rem 2rem;
    border-radius: .8rem;   
}

/*-------------------------------------------------------------------------*/
/*Afficher offre companies*/
.view-offer h2{
    font-size: 4.5rem;
    margin-bottom: 9rem;
    text-align: center;
}

.view-offer .no-offer{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--primary-color)
}

.view-offer .offer-box .offer-card{
    border-radius: 2rem;
    background-color: var(--card-background);
    padding: 2.5rem 2rem;
    margin-bottom: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.view-offer .offer-box .offer-card .offer-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.view-offer .offer-box .offer-card .offer-card-header h6{
    padding-left: 2.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.view-offer .offer-box .offer-card .offer-card-header div{
    background-color: var(--published-bg) ;
    padding: .8rem 1rem;
    margin-right: 2.5rem;
    border-radius: .8rem;
    color: var(--success-color);
    font-size: 1.6rem;
}

.view-offer .offer-box .offer-card p{
    width: 70%;
    font-size: 1.8rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.view-offer .offer-box .offer-card .offer-card-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-offer .offer-box .offer-card .offer-card-action a{
    background-color: var(--primary-color);
    color: var(--off-white-text);
    font-size:1.6rem;
    border-radius: 1rem ;
    padding: 1rem 2rem;
    margin-right: 2.5rem ;
    cursor: pointer;
    transition: .3s ease;
}

.view-offer .offer-box .offer-card .offer-card-action a:hover{
    background-color: var(--text-color);
}

.view-offer .offer-box .offer-card .offer-card-action .offer-details{
    background-color: var(--card-background);
    color: var(--text-color);
    border-radius: 1rem ;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .3s ease;
}

.view-offer .offer-box .offer-card .offer-card-action .offer-details:hover{
    background-color: var(--text-color);
    color: var(--off-white-text);
}

/*-------------------------------------------------------------------------*/
/*Afficher details offre*/
.offer-details{
    padding: 5rem 4rem;
}

.offer-details h2{
    font-size: 4.5rem;
    margin-bottom: 6.5rem;
    text-align: center;   
}

.offer-details .offer-details-box{
    font-size: 2rem;
}

.offer-details .offer-details-box p{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
}

.offer-details .offer-details-box p span{
    font-size: 2.3rem;
    font-weight: 600;
}

.offer-details a{
    padding: 1rem 2.8rem;
    background-color: var(--primary-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size:  1.6rem;
    text-align: center;
    color: var(--off-white-text);
    margin-bottom: 0;
}
/*-------------------------------------------------------------------------*/
/*site-name*/
.site-name{
    position: absolute;
    inset: 0;
    margin: auto;
    padding-top: 25rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
}

/*-------------------------------------------------------------------------*/
/*home sections*/
.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-content h1{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-header-content p{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.home-header-content .btn-home-header-content{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--primary-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size:  1.6rem;
    color: var(--off-white-text) ;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-bottom: 2rem;
}

.home-header-content .btn-home-header-content:hover{
    background-color: var(--text-color);
}

.home-student, .home-company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.home-student-img img, .home-company-img img{
    width: 35vw;
}

.home-student-content h2, .home-company-content h2{
    font-size: 2.5rem;
    text-align: left;
    line-height: 1.2;
}

.home-student-content h3, .home-company-content h3{
    color: var(--primary-color);
    font-size: 2rem;
}

.home-student-content p, .home-company-content p{
    font-size: 1.6rem;
    margin: 2rem 0;
}

/*-------------------------------------------------------------------------*/
/*about sections*/
.about-header-content{
    text-align: center;
}

.about-header-content h2{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.about-header-content h3{
    color: var(--primary-color);
    font-size: 2rem;
}

.about-header-content p{
    font-size: 1.6rem;
    margin: 2rem 0;
}

.about-header-content .btn-about-content{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--primary-color);
    border-radius: 7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size:  1.6rem;
    color: var(--off-white-text) ;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-bottom: 2rem;
}

.about-header-content .btn-about-content:hover{
    background-color: var(--text-color);
}

.about-missions h2{
    margin-bottom: 4rem;
    font-size: 3.5rem;
    text-align: center;
}

.about-mission-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.about-mission-box{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 4rem;
}

.about-mission-box i{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.about-mission-box h3{
    font-size: 2rem;
}

.about-mission-box p{
    font-size: 1.2rem;
    margin: .5rem 0 1rem;
}

/*-------------------------------------------------------------------------*/
/*contact section*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
}

.contact-img img{
    width: 35vw;
}

.contact-content h2{
    font-size: 4.5rem;
    text-align: left;
}

.contact-content h3{
    font-size: 2.6rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

.contact-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.contact-container .contact-box{
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.contact-container .contact-box i{
    font-size: 2.5rem;
    text-align: left;
}

.contact-container .contact-box p a{
    color: var(--text-color);
}

.contact-container .contact-box p a:hover{
    color: var(--primary-color);
}

/*-------------------------------------------------------------------------*/
/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--card-background);
}

footer p{
    font-size: 1.6rem;
}

footer p a{
    color: var(--text-color);
    transition: .3s ease;
}

footer p a:hover{
    color: var(--secondary-color);
}




/*-------------------------------------------------------------------------*/
/*Responsive*/
@media screen and (max-width : 1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width : 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        min-height: 100vh; 
        padding: 10% 3% 2rem;
    }

    .about-missions{
        padding: 7rem;
    }

    footer{
        padding: 2rem 3%;
    }

}

@media screen and (max-width : 768px) {
    /*-------------------------------------------------------------------------*/
    /*navbar*/
    #menu-icon{
        display: block;
        z-index: 2000;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--background-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
        z-index: 2100;
    }

    .login-btn-modal{
        font-size: 1.7rem;
        color: var(--text-color);
        margin-left: 4.5rem;
        transition: .3s ease;;
        height: 0;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .login-btn-modal:hover{
        background-color: var(--text-color);
        color: var(--secondary-color);
    }

    .navbar a, .navbar .login-btn-modal{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    .profile-box.show{
        z-index: 2500;
    }

    /*-------------------------------------------------------------------------*/
    /*Authentification*/
    .auth-modal {
        width: 90%;
        height: auto;
        padding: 2rem 1.5rem;
        border-radius: 1.5rem;
        margin: 2rem auto;
    }

    .auth-modal.slide {
        height: 55rem;
    }

    .auth-modal .form-box {
        padding: 2rem;
    }

    .form-box h2 {
        font-size: 2.8rem;
    }

    .input-box {
        height: 4.5rem;
        margin: 2.5rem 0;
    }

    .input-box input {
        font-size: 1.4rem;
        padding: 1.5rem 4rem 1.5rem 1.5rem;
    }

    .input-box i {
        font-size: 1.8rem;
        right: 1.5rem;
    }

    .btn {
        height: 4rem;
        font-size: 1.4rem;
    }

    .form-box p {
        font-size: 1.3rem;
        margin: 2rem 0 1rem;
    }

    .auth-modal .close-btn-modal {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }

    /*-------------------------------------------------------------------------*/
    /*Alert*/
    .alert-box{
        width: 60%;
    }

    /*-------------------------------------------------------------------------*/
    /*Voir profil*/
    .profil-info h2{
        text-align: center;
    }

    .profil-info .profil-info-container{
        width: 100%;
    } 


    /*-------------------------------------------------------------------------*/
    /*site-name*/
    .site-name{
        font-size: 2rem;
    }

    /*-------------------------------------------------------------------------*/
    /*home sections*/
    .home-header, .home-company{
        flex-direction: column-reverse;
    }

    .home-header-content h1{
        font-size: 2.6rem;
    }

    .home-header-img img, .home-student-img img, .home-company-img img{
        width: 70vw;
    }

    .home-student{
        flex-direction: column;
    }

    /*-------------------------------------------------------------------------*/
    /*about sections*/
    .about-missions h2{
        margin-bottom: 3rem;
    }

    .about-mission-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /*-------------------------------------------------------------------------*/
    /*contact section*/
    .contact{
        flex-direction: column;
    }

    .contact-img img{
        width: 70vw;
    }

}

@media screen and (max-width : 617px){
    .about-mission-container{
        grid-template-columns: 1fr;
    }
}